<div class="container">
  <div class="row">
    <div class="col s12">
      <mat-card class="example-card" *ngFor="let val of lastValue | async">
        Temperatura: {{val.temperature | number:'2.0-2' }} ºC<br>
        Umidade: {{val.humidty | number:'2.0-2' }} % <br>
        {{ val.timestap | date:'dd/MM/yyyy HH:mm' }}
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col s12">
      <mat-card class="example-card" *ngFor="let val of readsAtTime | async">
        Temperatura: {{val.temperature | number:'2.0-2' }} ºC<br>
        Umidade: {{val.humidty | number:'2.0-2' }} % <br>
        {{ val.timestap | date:'dd/MM/yyyy HH:mm' }}
      </mat-card>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(picker)" #f="ngForm">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button class="waves-effect waves-light btn" type="submit">Submit</button>
    </form>
  </div>
</div>
